# This workflow will do a clean install of node dependencies, build the source code and run tests across different versions of node
# For more information see: https://help.github.com/actions/language-and-framework-guides/using-nodejs-with-github-actions

name: CI

on:
  push:
    branches: [ master ]
  # pull_request:
  #   branches: [ master ]
jobs:
  lint:
    runs-on: ubuntu-latest # any nodejs will do
    steps:
    - uses: actions/checkout@v1
    - run: npm run lint
  test:
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        # os: [ubuntu-latest]
        os: [macos-latest, ubuntu-latest, windows-latest]
        # node-version: [12.x]
        node-version: [12.x, 14.x]
    steps:
    - uses: actions/checkout@v2
    - name: Use Node.js ${{ matrix.node-version }}
      uses: actions/setup-node@v1
      with:
        node-version: ${{ matrix.node-version }}
    - run: npm ci # - run: npm run build --if-present # n/a
    - run: npm test
    - run: node .github/scripts/post-status.js ${{ matrix.os }} ${{ matrix.node-version }}
      env:
        GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  publish:
    needs: [lint, test]
    runs-on: ubuntu-latest # any nodejs will do
    steps:
    - uses: actions/checkout@v1
    - run: (node .github/scripts/npm-version-diff.js && echo yes publish) || echo no dont publish
